%h1 Сообщения

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @rooms_owner.each do |membership|
      %tr
        %td= link_to membership.member.username, private_chat_room_path(membership.private_chat_room.id)
        -#%td= link_to 'Edit', edit_private_chat_room_path(private_chat_room)
        -#%td= link_to 'Destroy', private_chat_room, method: :delete, data: { confirm: 'Are you sure?' }
    - @rooms_member.each do |membership|
      %tr
        %td= link_to membership.owner.username, private_chat_room_path(membership.private_chat_room.id)
        -#%td= link_to 'Edit', edit_private_chat_room_path(private_chat_room)
        -#%td= link_to 'Destroy', private_chat_room, method: :delete, data: { confirm: 'Are you sure?' }

%br

