%h1 Listing private_chat_rooms

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @rooms.each do |membership|
      = membership.private_chat_room.id
      %tr
        %td= link_to membership.owner.username, private_chat_room_path(membership.private_chat_room.id)
        -#%td= link_to 'Edit', edit_private_chat_room_path(private_chat_room)
        -#%td= link_to 'Destroy', private_chat_room, method: :delete, data: { confirm: 'Are you sure?' }

%br

