%h1 Listing workspaces

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @workspaces.each do |workspace|
      %tr
        %td= link_to 'Show', workspace
        %td= link_to 'Edit', edit_workspace_path(workspace)
        %td= link_to 'Destroy', workspace, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Workspace', new_workspace_path
