.header-main-navbar {
  background-color: #337ab7;
  border-color: #337ab7 !important;
  border-radius: 0px !important;
  a {
    color: white;
  }
}

.company-name {
  color: white;
  font-weight: bolder;
}

.navbar-toggle {
  .icon-bar {
    background-color: white;
  }
}