.card
  .card-block
    .row
      .col-md-1
      .col-md-11
        %p.card-text
          %span.text-muted
            = multi_user_message.user.email
            at #{multi_user_message.timestamp} says
          %br/
          = multi_user_message.content
