.main-chat-container {
  height: 100%;
}

.main-chat-row {
  height: 100%;
}

.chat-menu-col {
  background-color: #434753;
  height: 100%;
}

.chat-messages-col {
  height: 100%;
  background-color: #F5F5F5;
}

.chat-head-row {
  height: 7%;
  background-color: #434753;
  display: flex;
}

.chat-message-row {
  height: calc(93% - 44px);
  overflow-y: auto;
}

.chat-message-form-row {
  height: 44px;
  background-color: #434753;
  position: fixed;
  margin-left: -15px;
  bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
}

#private_new_message {
  margin-top: 6px;
}

.chat-msg-row {
  border-bottom: 1px dotted #B3A9A9;
}

.private-message-text-area {
  height: 34px !important;
  resize: none;
}

.chat-main-menu-row {
  height: 7%;
}

#dropdownMenuChat {
  font-size: 18pt;
  font-weight: bolder;
  color: white;
  margin-top: 5%;
  cursor: pointer;
}

.chat-main-menu-row:hover {
  background-color: #263238;
}

.chat-main-menu-icon {
  margin-left: 5px;
}

/* Chat containers */










































//#messages {
//  max-height: 450px;
//  overflow-y: auto;
//}
//

//
//.main-chat-row {
//  height: 100%;
//}
//
//.chat-menu-col {
//  height: 100%;
//  background-color: #3e4551;
//  float: left;
//}
//
//.chat-messages-col {
//  height: 100%;
//  background-color: black;
//}
//
//@media only screen and (min-width : 768px) and (max-width: 778px) {
//  .chat-menu-col {
//    width: 223px;
//  }
//
//  .chat-messages-col {
//    left: 223px;
//    position: absolute;
//    right: 0;
//  }
//}
//
//@media only screen and (min-width : 778px) {
//  .chat-menu-col {
//    width: 235px;
//  }
//
//  .chat-messages-col {
//    left: 235px;
//    position: absolute;
//    right: 0;
//    bottom: 0;
//  }
//}
//
//@media only screen and (max-width: 767px) {
//  .chat-menu-col {
//    visibility: collapse;
//  }
//
//  .chat-messages-col {
//    left: 0;
//    position: absolute;
//    right: 0;
//    bottom: 0;
//  }
//}
//
//.left-chat-menu-section {
//  color: white;
//  font-size: 16pt;
//  font-weight: bolder;
//}
//
//.left-chat-menu-member {
//  color: white;
//  font-size: 14pt;
//  margin-bottom: 5px;
//}
//
//.chat-messages-container {
//  width: 100%;
//  height: 92%;
//}
//
//.chat-send-form-container {
//  width: 100%;
//  height: 8%;
//  background-color: #f5f5f5;
//}
//
//.private-chat-input-group {
//
//}
//

//
//.btn-send-private-message {
//  width: 100% !important;
//  height: 100% !important;
//}