.row-style{
  height: 100%;
}

.padding-zero{
  padding-right: 0;
  padding-left: 0;
}

.h-workspace-cont{
  height: 100%;
}

.sidebar-ws-show{
  background: #4d394b;
  height: 100%;
  text-align: center;
}

.ws-name-show{
  font-size: 1.125rem;
  line-height: 1.375;
  color: #fff;
  font-weight: 900;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  text-align: left;
}

.grey{
  color: #a09a9f;
  text-align: left;
}

.white{
  color: #fff;
  text-align: right;
  font-size: 1.3em;
  padding-right: 20px;
  padding-top: 5px;
}

.head_dropdown_title
{
  background: #4d394b !important;
  border: 0 !important;
  height: 61px !important;
  width: 200px;
  text-align: left;
}
.head_dropdown_title:focus {

  box-shadow: 0 0 0 0.0rem rgba(108, 117, 125, .5) !important;
}
.dropdown-toggle::after {
  display:none;
}

.btn-group-width{
  width: 100%;
  padding-top: 5px;
}
.head_dropdown_title_right{
  text-align: right;
}

.jump-to{
  width: 90%;
  background: rgb(52,32,50);
  border: 0;
  color: rgb(202,196,201);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 12px;
}

.all-threads{
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: left;
}
.all-threads:hover{
  background: rgb(52,32,50);
  border: 0;
}
.all-threads i{
  padding-left: 5px;
}
.white-sm{
  color: #fff;
  font-size: 1.1em;
}
.all-threads:active{
  border: 0;
}

.all-channels{
  width: 100%;
  margin-top: 20px;
}

.browse-channels{
  text-align: left;
  width: 70%;
  background-color: transparent;
  border: 0;
  color: #cac4c9;
}

.add-channel{
  width: 20%;
  background-color: transparent;
  border: 0;
  color: #cac4c9;
}
.white-hash{
  color: #cac4c9;
  padding-left: 10px !important;
}

.green{
  color: green;
  padding-left: 10px !important;
}

.socket-bot{
  color: #cac4c9;
}

.ws-header{
  height: 55px;
  width: 100%;
}
.main-style-header{
  position: fixed;
  width: 83.333333%;
  top: 0;
}

.time-line{
  width: 100%;
  height: 14px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}

.span-line{
  font-size: 13px;
  background-color: #fff;
  padding: 0 15px;
  font-weight: bold;
}

.span-line-text{
  padding-top: 10px;
}

.black{
  color: black;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.btn-channel-name{
  height: 30px;
}

.channel-header-icons{
  margin-left: 10px;
  padding-top: 5px;
  font-size: 14px;
}

.search {
  position: relative;
  display:inline-block;
  color: black;
}

.search input {
  text-indent: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.search .fa-search {
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 15px;
}

.ws-header-right{
  padding-top: 20px;
  padding-right: 5px;
}

.ws-header-right i{
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.btn-channel-config{
  vertical-align: 0;
  padding: 0;
}
.bg-white{
  background-color: white;
}

.mg-content {
  margin-top: 70px;
  margin-bottom: 70px;
}

.div {
  height: calc(100% - 70px);
  overflow: auto;
  margin-top: 70px;
}

.msg-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
}

/* Darker chat container */
.darker {
  border: 0;
  background-color: #fff;
}
.darker:hover {
  border-color: #ccc;
  background-color: #eee;
}

/* Clear floats */
.msg-container::after {

}

/* Style images */
.msg-container img {
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.msg-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.chat-user-name {
  font-weight: bolder;
}


.msg-text{
  line-height: 1.46668;
  margin: 8px 0 -4px;
  display: inline-block;
  width: 100%;
  color: #2c2d30;
  word-wrap: break-word;
  font-size: 15px;
}

.time{
  display:inline-block;
  font-weight: 300;
  font-size: 13px;
  color: #616161;
}

.img-msg-cont{
  height: 100%;
}

.text-align-center{
  text-align: center;
}

.between-messages{
  margin-top: 20px;
  margin-bottom: 20px;
}

.msg-add{
  position: fixed;
  width: 100%;
  height: 66px;
  bottom: 0;
  background-image: linear-gradient(to bottom,rgba(255,255,255,0),#fff 6px);
}